html, body {
  margin: 0;
}

.oo-area {
  background-color: #000;
  text-align: center;
}

.desc-area {
  margin: 0 1em;
}

#oo {
  height: 800px;
  height: 100vw;
  max-height: 100vh;
  display: block;
  margin: 0 auto;
}
